    <!--_method find on method override use on server.js. use dynamic 'url'-->
    <form method="POST" action="<%= url %>?_method=DELETE"> 
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>