<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/filepond/dist/filepond.css" rel="stylesheet">
  <link href="/filepond/plugins/image-preview/style.css" rel="stylesheet">
  <script defer src="/filepond/plugins/image-preview/script.js"></script>
  <script defer src="/filepond/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="/filepond/plugins/image-resize/script.js"></script>
  <script defer src="/filepond/dist/filepond.js"></script>
  <script defer src="/javascripts/fileUpload.js"></script>
  <!--import main css to web-->
  <link rel="stylesheet" href="/stylesheets/main.css">


  <title>Mybrary</title>
</head>
<body>
    <div class="container">
        <!-- header not in inner-container cuz we want inner container is content of web-->
        <%- include('../partials/header.ejs') %>
        <div class="inner-container">
            <%- include('../partials/errorMessage.ejs') %>
            <%- body %>
        </div>
    </div>
</body>
</html>