<h2 class="page-header">Edit Author</h2>
<!-- _methot=PUT is method override-->
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields.ejs') %>
    <a href="/authors/<%= author.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>